# =========================================================================
# 1. OS & Sistem Operasi (Miscellaneous)
# =========================================================================
.DS_Store
*.log
*.swp
*.class
*.pyc
.svn/
.history
migrate_working_dir/

# =========================================================================
# 2. Flutter / Dart / Pub Tooling & Artifacts
# =========================================================================
.dart_tool/
.pub/
.pub-cache/
/build/
/coverage/
**/doc/api/
.flutter-plugins-dependencies

# =========================================================================
# 3. Android Specifics
# =========================================================================
/android/app/debug
/android/app/profile
/android/app/release

# =========================================================================
# 4. iOS / Swift Specifics
# =========================================================================
**/ios/Flutter/.last_build_id
.build/
.buildlog/
.swiftpm/

# =========================================================================
# 5. Obfuscation & Symbolication (Production Builds)
# =========================================================================
app.*.symbols
app.*.map.json

# =========================================================================
# 6. IDEs & Code Editors
# =========================================================================
# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
devtools_options.yaml

# Text Editors
graphify-out/*
!graphify-out/graph.json

# =========================================================================
# 7. Environment Variables & Sensitive Data
# =========================================================================
.env
.env.local
.env.*.local
*.key
*.pem

# Etc
ref/